<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>dojosurvey</title>
    <link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
</head>
<body>
    <form action='/result' method='post'>
        <label>Your Name:
            <input type='text' name='name'>
        </label>
        <label>Dojo Location:
        <select name="location">
            <option value="san jose">SJC</option>
            <option value="NYC">NYC</option>
        </select>
        </label>
        <label>Comment:
                
        </label>
        <textarea name='comment'>textarea</textarea>
        <button>Button</button>
    </form>
    <p>
        {%with messages=get_flashed_messages()%}
            {%if messages%}
                {%for message in messages%}
                    {{message}}
                {%endfor%}
            {%endif%}
        {%endwith%}
    </p>
</body>